body {
    background-color: white;
    color: black;
    font-family: Arial;
    margin: 0;
}

h1 {
    background-color: green;
    color: white;
    padding: 20px;
    margin: 0;
}

/* Lage menyen på alle sider */

.navbar {
    background-color: darkgreen;
    padding: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.navbar a:hover {
    text-decoration: underline;
}




/* Gjør bildet passe stort og midt på siden */
img {
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid darkgreen;
}

/* Boks rundt menyen */
.meny-boks {
    border: 3px solid darkgreen; 
    background-color: lightgreen;
    border-radius: 10px;
    width: 90%;
    padding: 20px;
}

/* Bilde ved siden av matretten */
.meny-liste {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Matrett med bilde over teksten */
.meny-liste img {
    width: 50%;
    border: 3px solid darkgrenn;
    border-radius: 10px;
    margin-bottom: 10px;
}