/* Hele nettsiden */
body {
    background-color: darkred;
    color: white;
    text-align: center;
    font-family: Arial;
}


/* Meny øverst */
.navbar {
    background-color: red;
    padding: 10px;
}

/* Lenker i menyen */
.navbar a {
    color: white;
}