/* Hele nettsiden */
body {
    background-color: darkred;
    color: white;
    text-align: center;
    font-family: Arial;
}


/* Meny øverst */
.navbar {
    background-color: red;
    padding: 10px;
}

/* Lenker i menyen */
.navbar a {
    color: white;
}

/* Når musen går over lenkene */
.navbar a:hover {
    text-decoration: underline;
}

/* Footer nederst */
footer {
    background-color: red;
    padding: 10px;
    margin-top: 20px;
}