{% extends "base.html" %}

{% block title %}Ukens meny{% endblock %}

{% block content %}

<div class="meny-boks">
    <h2>Ukens meny</h2>
    <p>Her ser du hva kantina tilbyr denne uka:</p>

    <ul class="meny-liste">
        <li><img src="/static/images/Pizza.jpeg" alt="Pizza"> Pizza</li>
        <li><img src="/static/images/Taco.jpeg" alt="Taco"> Taco</li>
        <li><img src="/static/images/Pasta.jpeg" alt="Pasta"> Pasta</li>
        <li><img src="/static/images/Kylling.jpeg" alt="Kylling"> Kylling</li>
    </ul>
</div>

<img src="/static/images/meny.jpg" alt="Kantinebilde">

{% endblock %}