{% extends "base.html" %}

{% block title %}Varer{% endblock %}

{% block content %}

<div class="meny-boks">
    <h2>Varer i kantina</h2>
    <p>Her er noen av varene du alltid finner i kantina:</p>

    <ul class="meny-liste">
        <li>
            <img src="/static/images/Bagett.jpeg" alt="Bagett"><br>
            Bagett
        </li>
        <li>
            <img src="/static/images/Kaffe.jpeg" alt="Kaffe"><br>
            Kaffe
        </li>
        <li>
            <img src="/static/images/Salat.jpeg" alt="Salat"><br>
            Salat
        </li>
        <li>
            <img src="/static/images/Smoothie.jpeg" alt="Smoothie"><br>
            Smoothie
        </li>
    </ul>
</div>

{% endblock %}